{% extends "account/base.html" %}

{% block head_title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
<p>Forgot your password? <a href="{% url 'account_reset_password' %}">Reset it</a></p>
{% endblock %}