staticfiles/*
media/*
static/*
/media/
/media/*
/static/
/static/*
media/
static/
.idea/*
celerybeat-schedule
.env
**/migrations/00*.py
.venv/*
venv/*
db.sqlite3/
db.sqlite3
.idea/
venv/
*.pyc
*.mo
storage/
.vscode/
errors.log
warnings.log